.App {
  height: 100%;
  display: flex;
  font-family: Montreal;

  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

  color: #fff;
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg .background-image {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;

  transition: 1s;
}

.img {
  z-index: -1;
  opacity: 0;
}

.active {
  opacity: 1;
}

::-webkit-input-placeholder {
  font-family: Montreal;
  color: #323535;
}
