.rightnav {
  flex: 0.8;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  color: #e8e3e3;
  padding-left: 50px;
  padding-right: 50px;

  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 25px;
}
