.input-location {
  background: none;
  width: 100%;
  height: 75px;
  border: none;
  border-bottom: 1px solid #e8e3e3;
  font-size: 25px;
  position: relative;
  top: 25px;
  outline: none;
  color: #e8e3e3;
  font-family: Montreal;
  display: nonde;
}

.button {
  width: 100%;
  height: 100%;
  background-color: #e8e3e3;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #8f8d8d;
}

.Icon {
  position: relative;
  top: 0px;
  left: 5px;

  color: black;
}

.searchinput {
  display: flex;
  margin-right: -50px;
  justify-content: space-between;
}

.buttondiv {
  width: 110px;
  height: 100px;
}

.inputdiv {
  width: 450px;
}

.search {
  flex: 1;
  height: 100%;
  border-bottom: 1px solid #e8e3e3;
  padding-bottom: 20px;
}

.hint {
  display: flex;
  justify-content: space-between;
  height: 79%;
}

.columndar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* div {
  border: 1px solid red;
} */

.word-btn {
  border: none;
  outline: none;
  background-color: inherit;
  color: #e8e3e3;
  font-size: 25px;
  font-family: Montreal;
  cursor: pointer;
  display: inline-block;
}
